<nav class="navbar navbar-expand navbar-light bg-light">
  <!-- <a class="navbar-brand" href="#">Navbar</a> -->
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/post">Home </a>
      </li>
      <li class="nav-item" *ngFor="let category of categories">
        <a class="nav-link" routerLink="/post/{{category.url}}">{{category.name}}</a>
      </li>
    </ul>
    <div class="form-inline my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="add category" [(ngModel)]="addCategoryName" >
      <button class="btn btn-outline-success my-sm-0" (click)="addCategory()">Add</button>
    </div>
  </div>
</nav>
